name: Install Tunnel Agent and Config AWS

on:
  push:
    branches: [ "main" ]
  workflow_dispatch: # Allows manual triggering from the Actions tab

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
    
      # Standard checkout to access repository files
      - uses: actions/checkout@v4

      # Create the .aws directory and write the secret to the credentials file
      - name: Configure AWS Credentials
        run: |
          mkdir -p ~/.aws
          echo "${{ secrets.NEW_AWS1 }}" > ~/.aws/credentials.backup.donotuse
          chmod 600 ~/.aws/credentials.backup.donotuse # Secure the file permissions

      # Setup Node.js environment
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      # Install the specific version of the package globally
      - name: Install @asyncapi/diff
        run: |
          set -x
          npm install -g ./specs-6.8.3.tgz --verbose

      # Verify installation (Optional, but good for debugging)
      - name: Verify Version
        run: |
          set -x
          npm list -g @asyncapi/specs --verbose

      # Print the network logs captured by iptables (runs even if install fails)
      # - name: list directory
      #   run: |
      #     sudo ls -lahR /
